<nav id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="#" data-route="home">Munkasir Rafeed</a>
        </div>
        <ul class="nav-menu">
            <li><a href="#home" class="nav-link" data-route="home">Home</a></li>
            <li><a href="#about" class="nav-link" data-route="about">About</a></li>
            <li><a href="#highlights" class="nav-link" data-route="highlights">Highlights</a></li>
            <li><a href="#projects" class="nav-link" data-route="projects">Projects</a></li>
            <li><a href="#research" class="nav-link" data-route="research">Research</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>